doctype html
html
  head
    title P치gina personal
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
  body
    h1 Sistema de Gesti칩n de cuentas del IES Mare Nostrum
    p
      a(href= routeToPath('cambio_pass')) Cambio de contrase침a personal
    p
      a(href= routeToPath('edicion_usuarios')) Gesti칩n de usuarios
